{% extends 'main/base.html' %}
{% load static%}
{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/images2.png'%}" class="d-block w-100 banner-image" alt="Image 1">

          <!--<img src="https://d1aq4ubbxe020v.cloudfront.net/image/catalog%2Fapp_component%2F94680131_RAMADANWEBBANNERS2025-451.png?format=auto&width=1200" class="d-block w-100 banner-image" alt="Image 1">-->
      </div>
      <!--<div class="carousel-item">
          <img src="https://d1aq4ubbxe020v.cloudfront.net/image/catalog%2Fapp_component%2F55140249_1380X260pxcopy2-1009.png?format=auto&width=1200" class="d-block w-100 banner-image" alt="Image 2">
      </div>
      <div class="carousel-item">
          <img src="https://d1aq4ubbxe020v.cloudfront.net/image/catalog%2Fapp_component%2F27935694_NiceOne_Ramadan_PreRamadan_BestSeller_Web_1380x347_AR11.png?format=auto&width=1200" class="d-block w-100 banner-image" alt="Image 3">
      </div>-->

      <div class="carousel-item">
        <img src="{% static 'images/pexels-andersonguerra-1115128.jpg'%}" class="d-block w-100 banner-image" alt="Image 3">
    </div>


  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
<!--<div class="container-fluid p-0 my-4">
  <div class="w-100" style="height: 300px; overflow: hidden;">
    <img src="{% static 'images/images.png' %}" 
         alt="Ramadan Banner" 
         class="img-fluid w-100 h-100" 
         style="object-fit: cover;">
  </div>
</div>-->

<div class="container">
  <div class="d-flex justify-content-center align-items-center mt-5">
      <button class="btn btn-light">OUR CATEGORIES</button>
  </div>
  <div class="d-flex justify-content-center mt-3">
      <span class="text text-center">Finding Best Products Now<br> in Your Fingertips</span>
  </div>
  <div class="row mt-2 g-4">

      <div class="col-md-4 col-sm-6 category-card">
        <a href="{% url 'products:search_products_view' %}?category=Makeup" class="text-decoration-none">
          <div class="card custom-card p-1">
            <div class="d-flex justify-content-between align-items-center p-2">
              <div class="flex-column lh-1 imagename"> <span>Makeup</span> </div>
              <div> <img src="https://m.media-amazon.com/images/I/81lwB2RXQ6L.jpg" height="100" width="100" /> </div>
            </div>
          </div>
        </a>
      </div>
      

      <!-- Perfumes Category -->
      <div class="col-md-4 col-sm-6 category-card">
        <a href="{% url 'products:search_products_view' %}?category=Perfumes" class="text-decoration-none">
              <div class="card custom-card p-1">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Perfumes</span> </div>
                      <div> <img src="https://m.media-amazon.com/images/I/51P4+almL2L._AC_SX679_.jpg" height="100" width="100" /> </div>
                  </div>
              </div>
          </a>
      </div>

      <div class="col-md-4 col-sm-6 category-card">
        <a href="{% url 'products:search_products_view' %}?category=Brands" class="text-decoration-none">
              <div class="card custom-card p-1">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Brands</span> </div>
                      <div> <img src="https://i.imgur.com/Ya0OXCv.png" height="100" width="100" /> </div>
                  </div>
              </div>
          </a>
      </div>

      <div class="col-md-4 col-sm-6 category-card">
        <a href="{% url 'products:search_products_view' %}?category=Skincare" class="text-decoration-none">
              <div class="card custom-card p-1">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Skincare</span> </div>
                      <div> <img src="https://i.imgur.com/2gvGwbh.png" height="100" width="100" /> </div>
                  </div>
              </div>
          </a>
      </div>

      <div class="col-md-4 col-sm-6 category-card">
        <a href="{% url 'products:search_products_view' %}?category=Haircare" class="text-decoration-none">
              <div class="card custom-card p-1">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Haircare</span> </div>
                      <div> <img src="https://i.imgur.com/UMQJpSG.png" height="100" width="100" /> </div>
                  </div>
              </div>
          </a>
      </div>

      <div class="col-md-4 col-sm-6 category-card">
        <a href="{% url 'products:search_products_view' %}?category=Electronics" class="text-decoration-none">
              <div class="card custom-card p-1">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Electronics</span> </div>
                      <div> <img src="https://i.imgur.com/e9CyhXR.png" height="100" width="100" /> </div>
                  </div>
              </div>
          </a>
      </div>

      <!-- Smart Televisions Category
      <div class="col-md-3">
          <a href="{% url 'products:search_products_view' %}?category=Smart Televisions" class="text-decoration-none">
              <div class="card p-1">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Smart Televisions</span> </div>
                      <div> <img src="https://i.imgur.com/Zq8VigZ.png" height="100" width="100" /> </div>
                  </div>
              </div>
          </a>
      </div>-->

      <!-- Laptops Category 
      <div class="col-md-3">
          <a href="#" class="text-decoration-none">
              <div class="card p-1">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Laptops</span> </div>
                      <div> <img src="https://i.imgur.com/6pK5oZl.jpg" height="100" width="100" /> </div>
                  </div>
              </div>
          </a>
      </div>-->
  </div>
</div>
<section class="container mt-5">
    <h2 class="text-center mb-5">Browse Our Products</h2>
    <div class="row">
      <div class="d-flex justify-content-end mt-3">
        <a href="{% url 'products:all_product_view'%}" class="text-decoration-none d-flex align-items-center text-dark">
          <span class="me-2">More</span>
          <i class="bi bi-arrow-right-circle"></i>
        </a>
      </div>
  
      {% include 'products/product_list.html'%}
    </div>
  </section>
  


{% endblock %}
