<!--<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>إنشاء طلب في الشراء الجماعي</title>
</head>
<body>
    <h1>إنشاء طلب في الشراء الجماعي</h1>

    <h2>تفاصيل المنتج:</h2>
    <p>اسم المنتج: {{ group_purchase.product.name }}</p>
    <p>السعر العادي: {{ group_purchase.product.price }} ريال</p>
    <p>سعر الخصم (إذا كان متاحًا): {{ group_purchase.product.group_price }} ريال</p>



    <h3>انضم إلى الشراء الجماعي:</h3>

    <form method="POST" action="">
        {% csrf_token %}
        <button type="submit">انضم إلى الشراء الجماعي</button>
    </form>

    <h3>إضافة طلب للشراء الجماعي:</h3>
    <form method="POST">
        {% csrf_token %}
        <label for="quantity">عدد المشاركين:</label>
        <input type="number" name="quantity" id="quantity" value="" />
        
        <button type="submit">إنشاء الطلب</button>
    </form>

    <a href="{% url 'orders:group_purchase_detail' group_purchase_id=group_purchase.id %}">العودة إلى تفاصيل الشراء الجماعي</a>
</body>
</html>-->

