{% extends 'main/base.html' %}
{% block content %}

<!--<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h1 class="mb-4 text-center"> Create a group purchase of the product  </h1>
        <h2 class="mb-4 text-center">{{ product.name }}</h2>
        
        <form method="post" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg">إنشاء الشراء الجماعي</button>
        </form>
    </div>
</div>-->


<div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-4 custom-card">
        <h1 class="mb-3 text-center fw-bold ">Create a Group Purchase</h1>
        <h2 class="mb-4 text-center text-dark">{{ product.name }}</h2>
        <h6 class="text-center text-danger mb-1">
            Group price:{{ product.group_price }} 
        </h6>
        <h6 class="text-center text-danger mb-1">
            Max Participants: {{ product.max_participants }}
          </h6>


        
        <form method="post" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg px-4">Create group purchasing</button>
        </form>
    </div>
</div>


{% endblock %}
