{% extends 'main/base.html'%}
{% block content %}
<div class="row d-flex p-3 mt-3">
  <div class="col-6">
    <h1>Create Products new: </h1>
    <form class="d-flex flex-column gap-2" action="{% url 'products:create_product_view' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <input type="text" placeholder="name" name="name" class="form-control" required minlength="5" maxlength="100"/>
    <textarea placeholder="Description" name="description" class="from-control" required></textarea>
    <input type="text" placeholder="category" name="category" class="form-control"/>
    <input type="text" placeholder="price" name="price" class="form-control"/>
    <input type="brand" placeholder="brand" name="brand" class="form-control"/>
    <input type="colour" placeholder="colour" name="colour" class="form-control"/>
    <input type="size" placeholder="size" name="size" class="form-control"/>
    <input type="quantity" placeholder="quantity" name="quantity" class="form-control"/>
    <input type="file" name="image" class="from-control" required accept="image/*"/>

    <input type="submit" value="Create" class="btn btn-primary"/>
    </form>

    

  
  </div>

</div>
{% endblock%}